<figure>
    {{ $alt := .Get "alt" }}
    {{ with resources.Get (.Get "src") }}
        <img class="img img--square" loading="lazy" src="{{ .RelPermalink }}" alt="{{ $alt }}">
    {{ else }}
        <!-- Image not found in global resources, trying local resource -->
        {{ with .Page.Resources.Get (.Get "src") }}
            <img class="img img--square" loading="lazy" src="{{ .RelPermalink }}" alt="{{ $alt }}">
        {{ else }}
            <!-- Image not found in local resources, using 404 image -->
            {{ $image := resources.Get "images/404-1300.webp" }}
            <img class="img img--square" loading="lazy" src="{{ .RelPermalink }}" alt="{{ $alt }}">
        {{ end }}
    {{ end }}
    <figcaption class="figcaption figcaption--square">{{ .Inner }}</figcaption>
</figure>
