@import 'styles/main';

// $text-max-width: 43rem;
$text-max-width: 34rem;
$text-indent: 2rem;
$blockquote-vertical-margin: 2rem;
$blockquote-horizontal-margin: $text-indent;

html, body { height: 100%; }

html { font-size: $base-font-size; }

body {
    margin: 0;
    font-family: $font-family;
    font-weight: 400;
    line-height: $text-line-height;
    background-color: $background-color;
    color: $text-color;
}

// -----------------------------------------------------------------------------

// headings

h1, h2, h3, h4, h5, .page-title {
    margin: $heading-margin;
    font-weight: 600;
    line-height: $heading-line-height;

    padding: 0 $text-indent;
    letter-spacing: -0.06rem;
    font-variant-caps: small-caps;
}

h1, h2 {
    text-align: center;
}

h1 {
    margin-top: 0;
    font-size: $h1-font-size;
    letter-spacing: -0.05rem;
    text-transform: uppercase;
}

h2 { font-size: $h2-font-size; }

h3 { font-size: $h3-font-size; }

h4 { font-size: $h4-font-size; }

h5 { font-size: $h5-font-size; }

// text blocks

p {
    // margin-bottom: $p-margin-bottom;
    margin: 0.2rem 0;
    text-indent: $text-indent;
    &.noIndent {
        text-indent: 0;
    }
}

blockquote {
    margin: $blockquote-vertical-margin $blockquote-horizontal-margin;
    p {
        text-indent: 0;
    }
}

code {
    font-family: $font-family-monospace;
    font-size: 0.9em;
    word-break: break-all;
}

pre {
    // margin: 2rem $text-indent;
    margin: $blockquote-vertical-margin $text-indent;
    text-align: left;
    white-space: pre-wrap;
    word-break: break-all;
    @media screen and (max-width: 700px) {
        white-space: pre;
        overflow: auto;
    }
}

small, .text--small { font-size: $small-font-size; }

// elements

a {
    color: $link-color;
    // text-decoration-thickness: 1px;
    text-decoration-thickness: from-font;
    text-underline-offset: 2px;
    // text-underline-offset: 0.1rem;
}

figure {
    margin: auto 0px;
    text-align: center;
}

img { width: 100%; }

img.half {
    width: 40%;
    min-width: 300px;
}

ul {
    // list-style-type: "›  ";
    list-style-type: circle;
}

.header, .siteFooter {
    text-align: center;
    p { text-indent: 0; }
}

.header { padding: 0 1rem; }

.circle {
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    width: 50px;
    height: 50px;
    background-color: $_black;
    border-radius: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $_white;
    font-size: 50px;
    p {
        margin: 0;
        padding-bottom: 12px;
    }
}

.dinkus {
    // como los asterisco están descentrados verticalmente, hay que poner mas margen arriba que abajo
    $dinkus-margin: 2rem;
    margin: $dinkus-margin 0;
    margin-top: $dinkus-margin + .5rem;
    text-align: center;
}

.pageTitle {
    margin-top: 6rem;
    margin-bottom: 1rem;
    font-size: $h1-font-size;
    &__rat {
        width: initial;
        height: 0.8em;
        vertical-align: -0.7px;
        path {
            fill: black;
        }
    }
}

.webNav {
    font-size: $h4-font-size;
    margin: 2rem 0;
}

.indexQuote {
    max-width: 20rem;
    margin: 0.2rem auto;
}

.container {
    max-width: $text-max-width;
    margin: 0 auto;
    padding: 0 1.2rem;
}

.post {
    &--index {
        margin-top: 3rem;
    }
    &__header {
        margin-top: 3rem;
        margin-bottom: 1.38rem;
        // margin-bottom: 2rem;
    }
    &__title {
        margin-bottom: 0;
        // padding: 0 $text-indent;
    }
    &__subtitle {
        margin-top: 0;
        font-variant-caps: small-caps;
        // padding: 0 $text-indent;
    }
    &__summary {
        // margin-bottom: 1rem;
        p {
            text-align: justify;
            text-indent: $text-indent;
        }
    }
    &__entryContent {
        text-align: justify;
        text-justify: inter-word;
    }
    &__meta {
        // margin-top: 1.5rem;
        margin-top: $blockquote-vertical-margin - 1rem;
    }
}

.siteFooter {
    padding: 0 2rem 4rem 2rem;
    p {
        margin: 0.5rem 0;
    }
    &__secondary {
        &__text {
            font-size: $small-font-size;
        }
    }
}
