{{define "main"}}
<!-- <h1>404 - Not Found</h1>



<figure>
	<img src="https://recordratla-public-res.s3.eu-south-2.amazonaws.com/img/common/404.webp" alt="Yotsuba 404" class="half">
</figure> -->

<article class="post">
	<header class="container">
		<div class="post__header">
			<!-- <h1 class="post__title">⚠️ 404 - Not Found</h1> -->
			<h1 class="post__title">404 - Not Found</h1>
		</div>
		<figure class="post__featuredMedia">
			<div class="post__featuredImage">
				<img src="https://recordratla-public-res.s3.eu-south-2.amazonaws.com/img/common/404-1300.webp" alt="Yotsuba 404">
			</div>
		</figure>
	</header>

	<div class="container post__entryContent">
		<p>
			Parece que no hay nada por aquí...
		</p>
	</div>

</article>
{{end}}
