{{ define "main" }}
<article class="post">
	<header class="container">
		<div class="post__header">
			{{ if .Params.mainTitle }}
			<h1 class="post__title">{{ .Params.mainTitle }}</h1>
			{{ else }}
			<h1 class="post__title">{{ .Title }}</h1>
			{{ end }}
			{{ if .Params.subtitle }}
			<h2 class="post__subtitle">{{ .Params.subtitle }}</h2>
			{{ end }}
		</div>
		{{ if and .Params.summary (not (eq .Params.displaySummary false)) }}
		<div class="post__summary">
			<p>{{ .Params.summary }}</p>
		</div>
		{{ end }}
		<!-- {{ if and .Params.image (not (eq .Params.featuredImage false)) }}
		<figure class="post__featuredMedia">
			<div class="post__featuredImage">
				<img src="{{ .Params.image }}" alt="{{ .Title }}">
			</div>
		</figure>
		{{ end }} -->
	</header>

	<div class="container post__entryContent">
		{{ .Content }}

		<!-- only show this section if is a post -->
		{{ if in .Permalink "/post/" }}
		<div class="post__meta">
			<span class="post__byline">
				&mdash; Publicado por {{ with .Params.author }}<a href="/{{ . | urlize }}">{{ . }}</a>{{ else }}<a href="/{{ .Site.Author.name | urlize }}">{{ .Site.Author.name }}</a>{{ end }}</span>, <time datetime="{{ .Date.Format "2006-01-30" }}">{{ .Date | time.Format ":date_long" }}</time> · <span class="post_tags" aria-label="Etiquetas">
				{{ range (.GetTerms "tags") }}
				<a href="{{.RelPermalink}}">{{ .LinkTitle }}</a>
				{{end}}
			</span>
		</div>
		{{ end }}
	</div>

</article>
{{ end }}
