$_white: #fff;
$_black: #000;
$_grey: #808080;
$_light-grey: #c4c4c4;
$_light-yellow: #f6f5e3;

$background-color: $_white;
$text-color: $_black;
$text-inverted-color: $_white;
$link-color: $_black;
$border-color: $_light-grey;
