{{ define "main" }}

<article class="post post--index">
	<div class="container post__entryContent">
		<!-- <p>
			Bienvenido a <em>rats.land</em>, donde 
			<a href="{{ "inoro" | relURL }}" aria-label="Página del autor Inoro.">un servidor</a>, 
			junto a las ratas del cementerio de Salem, registran sus desvaríos 
			mentales. Estas son las publicaciones más recientes, si quieres 
			leer más puedes ir al <a href="{{ "post" | relURL }}">archivo</a>. Y si estás 
			confuso y no entiendes de que vá todo esto puedes leer las 
			<a href="{{ "faq" | relURL }}">preguntas frecuentes</a>. Toma asiento y disfruta
			de la lectura.
		</p> -->
		{{ .Content }}
	</div>
</article>

{{ end }}
