<!DOCTYPE html>
<!--
               _     _
     _ __ __ _| |_  | | __ _
    | '__/ _` | __| | |/ _` |
    | | | (_| | |_ _| | (_| |
    |_|  \__,_|\__(_)_|\__,_|

    record.rat.la by Inoro <https://github.com/1noro>

    "Y el pobre anciano Masson se hundió en la negrura de la muerte, con los 
    locos chillidos de las ratas taladrándole los oídos" - Henry Kuttner
-->
<html lang="{{ $.Site.LanguageCode }}">
	<head >
		{{- partial "head.html" . -}}
	</head>
	<body>
		<header id="header" class="header" aria-label="Cabecera" tabindex="-1">
			{{- partial "header.html" . -}}
		</header>
		<main id="main" aria-label="Contenido principal" tabindex="-1" role="document">
			{{- block "main" . }}{{- end }}
		</main>
		<footer id="footer" aria-label="Licencias, contactos y más enlaces" tabindex="-1">
			{{- partial "footer.html" . -}}
		</footer>
	</body>
</html>
