{{define "main"}}

<header class="container">
	<div class="post__header">
		<h1 class="post__title">{{ .Title }}</h1>
	</div>
	{{ if and .Params.summary (not (eq .Params.displaySummary false)) }}
	<div class="post__summary">
		<p>{{ .Params.summary }}</p>
	</div>
	{{ end }}
</header>

<!--$paginator-->
{{$p := .Pages}}
{{if .IsHome}}
{{$p = where site.RegularPages "Type" "in" site.Params.mainSections}}
{{else if eq .Kind "taxonomy"}}
{{$p = $p.ByTitle}}
{{end}}
{{$paginator := .Paginate $p}}

<div class="container post__entryContent">
	<!--list-->
	{{range $paginator.Pages}}
	<div class="list__item">
		<div class="list__itemHeader">
			<h2 class="list__itemTitle"><a href="{{.RelPermalink}}">{{.Title}}</a></h2>
			<div class="post__meta">
				<time datetime="{{ .Date.Format "2006-01-30" }}">{{ .Date | time.Format ":date_long" }}</time> · <span class="post_tags" aria-label="Etiquetas">
					{{ range (.GetTerms "tags") }}
					<a href="{{.RelPermalink}}">{{ .LinkTitle }}</a>
					{{end}}
				</span>
			</div>
		</div>
		<p>
			{{.Summary}}
		</p>
	</div>
	{{end}}
</div>

{{end}}
