<!-- <p>*&nbsp;&nbsp;&nbsp;*&nbsp;&nbsp;&nbsp;*</p> -->
<nav id="contacto" aria-label="Enlaces de contacto">
	<p>
		<a href="https://github.com/1noro" aria-label="Enlace a mi perfil de GitHub">github</a> &middot; 
		<a href="https://gitlab.com/1noro" aria-label="Enlace a mi perfil de GitLab">gitlab</a> &middot; 
		<a href="https://tilde.zone/@1noro" aria-label="Enlace a mi perfil de Mastodon">mastodon</a> &middot; 
		mail (<a href="https://recordratla-public-res.s3.eu-south-2.amazonaws.com/publickey.ppuubblliicc%40protonmail.com.asc" aria-label="¡Mándame un correo cifrado con gpg!">gpg</a>)
	</p>
</nav>
<!-- <nav aria-label="Enlaces útiles para moverse por la página">
	<p style="line-height: 48px;">
		<a href="#header">ir a la cabecera</a>&nbsp;&nbsp;&nbsp;<a href="#main">ir al contenido</a>&nbsp;&nbsp;&nbsp;<a href="archive">leer más publicaciones</a>&nbsp;&nbsp;&nbsp;<a href="donations">apoya mi trabajo</a>
	</p>
</nav> -->
<p id="license_text">
	<small>
		Software creado por <a href="https://github.com/1noro/record.rat.la">Inoro</a> bajo la licencia <a rel="license" href="LICENSE.GPL-3.0.txt" aria-label="Todo el código que sustenta la web está bajo la licencia GPLv3.">GPLv3</a>. Multimedia original bajo la licencia <a rel="license" href="LICENSE.CC-BY-SA-4.0.txt" aria-label="Texto de la licencia Creative Commons BY-SA-4.0.">Creative Commons BY-SA-4.0</a>
	</small>
</p>
