{{define "main"}}
<article class="post">
	<header class="container">
		<div class="post__header">
			{{ if eq .Kind "term" }}
			<h1 class="post__title">Tag: {{ .Title }}</h1>
			{{ else }}
			<h1 class="post__title">{{ .Title }}</h1>
			{{ end }}
		</div>
		<!-- {{ if and .Params.summary (not (eq .Params.displaySummary false)) }}
		<div class="post__summary">
			<p>{{ .Params.summary }}</p>
		</div>
		{{ end }} -->
	</header>
	<div class="container post__entryContent">
		<!-- {{$p := .Pages}}
		{{if .IsHome}}
		{{$p = where site.RegularPages "Type" "in" site.Params.mainSections}}
		{{else if eq .Kind "taxonomy"}}
		{{$p = $p.ByTitle}}
		{{end}}
		{{$paginator := .Paginate $p}}
		<ul>
			{{range $paginator.Pages}}
			<li>{{.Date.Format "2006-01-02"}} - <a href="{{.RelPermalink}}">{{.Title}}</a></li>
			{{end}}
		</ul> -->
		{{ range .Pages.GroupByDate "2006" }}
		<h2><span class="uppercase">{{ .Key }}</span></h2>
		{{ range .Pages }}
		<div class="listItem">
			<p class="listItem__title noIndent"><a href="{{ .RelPermalink }}"><strong>{{ .Title }}</strong></a></p>
			<p class="noIndent">
				<time class="listItem__date" datetime="{{ .Date.Format "2006-01-30" }}">{{ .Date | time.Format ":date_full" }}</time> / <span class="listItem__summary">{{ .Params.summary }}</span>
			</p>
		</div>
		{{ end }}
		{{ end }}
	</div>
</article>
{{end}}
