{{ define "main" }}

<article class="post">
	<p class="container">
		Bienvenido a <em>record.rat.la</em>, donde 
		<a href="author?username=inoro" aria-label="Página del autor Inoro.">un servidor</a>, 
		junto a las ratas del cementerio de Salem, registran sus desvaríos 
		mentales. Estas son las publicaciones más recientes, si quieres 
		leer más puedes ir al <a href="archive">archivo</a>. Y si estás 
		confuso y no entiendes de que vá todo esto puedes leer las 
		<a href="faq">preguntas frecuentes</a>. Toma asiento y disfruta
		de la lectura.
	</p>
</article>

{{ end }}
