
/* --- FONTS ---------------------------------------------------------------- */

@font-face {
    font-family: 'Public Sans';
    src: url('https://recordratla-public-res.s3.eu-south-2.amazonaws.com/fonts/public-sans/PublicSans-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('https://recordratla-public-res.s3.eu-south-2.amazonaws.com/fonts/public-sans/PublicSans-Italic-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: italic;
}

/* --- COMMON --------------------------------------------------------------- */

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    line-height: 1.55556;
    text-rendering: optimizeLegibility;
    color: #222;
    overflow-x: hidden;
}

@media (max-width: 743.98px) {
    body {
        font-size: 16px;
        line-height: 1.5;
    }
}

a {
    color: #222;
    font-weight: 500;
}

p {
    margin: 0 0 24px;
}

iframe, img {
    max-width: 100%;
}

img {
    border-style: none;
}

ol, ul {
    box-sizing: border-box;
}

/* --- h1, h2, h3, h4, h5, h6 --- */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

h1, h2 {
    font-weight: 600;
    margin-bottom: 32px;
}

h2 {
    font-size: 32px;
    line-height: 1.375;
}

.post__entryContent > h1, .post__entryContent > h2, .post__entryContent > h3, .post__entryContent > h4, .post__entryContent > h5, .post__entryContent > h6 {
    margin-top: 48px;
    margin-bottom: 28px;
}

@media (max-width: 949.98px) {
    .post__entryContent > h1, .post__entryContent > h2, .post__entryContent > h3, .post__entryContent > h4, .post__entryContent > h5, .post__entryContent > h6 {
        margin-bottom: 24px;
    }
}

.post__entryContent > h2 {
    font-size: 32px;
    line-height: 1.125;
}

@media (max-width: 949.98px) {
    .post__entryContent > h2 {
        font-size: 26px;
        line-height: 1.15385;
    }
}

/* --- .container --- */

.container {
    box-sizing: border-box;
    max-width: 1760px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
}

@media (max-width: 1127.98px) {
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 743.98px) {
    .container {
        padding-right: 24px;
        padding-left: 24px;
    }
}

/* --- PAGE HEADER ---------------------------------------------------------- */

.header {
    border-bottom: 1px solid #ddd;
    height: 80px;
    padding-left: 24px;
    padding-right: 24px;
}

.header__logo {
    float: left;
    margin-top: 24px;
    margin-right: 6px;
}

svg#title_rat {
    height: 32px;
    width: 30px;
}

svg#title_rat path {
    fill: #222;
}

a.header__site {
    float: left;
    display: block;
    margin-top: 12px;
    padding: 12px 0;
    color: #222;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33333;
    letter-spacing: -.53px;
    text-decoration: none;
}

/* svg#title_rat {
    width: initial;
    height: 0.9em;
    vertical-align: -0.7px;
} */

a.header__rss {
    float: right;
    display: block;
    margin-top: 12px;
    padding: 12px 0;
    color: #222;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33333;
    letter-spacing: -.53px;
    text-decoration: none;
}

/* --- PAGE MAIN ------------------------------------------------------------ */

.post {
    margin-bottom: 120px;
}

/* --- post header --- */

.post__header {
    margin-top: 80px;
    margin-bottom: 48px;
}

.post__entryContent > :not(.alignfull):not(.alignwide),
.post__header {
    width: calc(50% - 8px);
    margin-right: auto;
    margin-left: auto;
}

@media (max-width: 1439.98px) {
    .post__entryContent > :not(.alignfull):not(.alignwide),
    .post__header {
        width: calc(66.66667% - 5.33333px);
    }
}

@media (max-width: 949.98px) {
    .post__header {
        margin-top: 64px;
        margin-bottom: 32px;
    }
}

@media (max-width: 743.98px) {
    .post__header {
        margin-top: 32px;
    }
}

@media (max-width: 743.98px) {
    .post__entryContent > :not(.alignfull):not(.alignwide),
    .post__header {
        width: 100%;
    }
}

.post__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 1.13043;
    margin-bottom: 24px;
}

@media (max-width: 949.98px) {
    .post__title {
        font-size: 32px;
        line-height: 1.125;
    }
}

@media (max-width: 743.98px) {
    .post__title {
        font-size: 26px;
        line-height: 1.15385;
        margin-bottom: 16px;
    }
}

.post__meta {
    font-size: 14px;
    line-height: 1.28571;
    margin-bottom: 24px;
}

/* --- post summary --- */

.post__summary {
    width: calc(50% - 8px);
    margin-right: auto;
    margin-left: auto;
    margin-top: 48px;
    margin-bottom: 48px;
}

.post__summary {
    display: none;
}

@media (max-width: 1439.98px) {
    .post__summary {
        width: calc(66.66667% - 5.33333px);
    }
}

@media (min-width: 744px) {
    .post__summary {
        display: block;
    }
}

/* --- post featuredMedia --- */

.post__featuredMedia {
    width: calc(83.33333% - 2.66667px);
    margin: 64px auto;
}

@media (max-width: 949.98px) {
    .post__featuredMedia {
        margin-top: 48px;
        margin-bottom: 48px;
    }
}

@media (max-width: 743.98px) {
    .post__featuredMedia {
        width: 100%;
    }
}

@media (max-width: 743.98px) {
    .post__featuredMedia {
        margin-top: 32px;
        margin-bottom: 32px;
    }
}

.post__featuredImage {
    padding-bottom: 66.66667%;
    position: relative;
    height: 0;
}

.post__featuredImage img {
    object-fit: cover;
    border-radius: 12px;
}

.post__featuredImage > * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* --- PAGE FOOTER ---------------------------------------------------------- */

.siteFooter {
    padding-top: 48px;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
}

@media (max-width: 1127.98px) {
    .siteFooter {
        padding-top: 40px;
    }
}

/* --- siteFooter__main --- */

/* .siteFooter__main::after, .siteFooter__main::before {
    content: " ";
    display: table;
} */

.row {
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0;
}

.row > * {
    grid-column-start: 1;
    grid-column-end: -1;
}

.col-lg-3 {
    position: relative;
}

@media (max-width: 1127.98px) {
    .siteFooter__columnWrap {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .siteFooter__columnWrap:not(:last-child) {
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #ddd;
    }
}

.siteFooter__columnTitle {
    font-size: 12px;
    line-height: 1.33333;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    text-transform: uppercase;
}

.siteFooter__navColumn {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 744px) and (max-width: 1127.98px) {
    .siteFooter__navColumn {
        display: flex;
        flex-wrap: wrap;
        margin-right: -12px;
        margin-left: -12px;
    }
}

.siteFooter__navColumn .menu-item {
    font-size: 14px;
    line-height: 1.28571;
    text-rendering: optimizeLegibility;
    margin-top: 16px;
}

@media (min-width: 744px) and (max-width: 1127.98px) {
    .siteFooter__navColumn .menu-item {
        flex-basis: 33.333%;
        padding-right: 12px;
        padding-left: 12px;
    }
}

.siteFooter__navColumn .menu-item a, .siteFooter__navColumn .menu-item a:focus, .siteFooter__navColumn .menu-item a:hover {
    text-decoration: none;
    color: #222;
    font-weight: 400;
}

.siteFooter__disclaimer {
    margin-top: 48px;
    margin-bottom: 48px;
}

@media (max-width: 1127.98px) {
    .siteFooter__disclaimer {
        margin-top: 0;
        margin-bottom: 24px;
    }
}

.siteFooter__disclaimerText {
    font-size: 14px;
    line-height: 1.28571;
    margin-top: 16px;
    margin-bottom: 0;
}

/* --- siteFooter__secondary --- */

.siteFooter__secondary {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #ddd;
}

@media (max-width: 1127.98px) {
    .siteFooter__secondary {
        flex-direction: column;
        align-items: center;
    }
}

/* .siteFooter__secondaryLeft {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    overflow: hidden;
}

@media (max-width: 1127.98px) {
    .siteFooter__secondaryLeft {
        flex-direction: column;
        order: 2;
    }
} */

.siteFooter__secondary__text {
    font-size: 14px;
    line-height: 1.28571;
    flex-shrink: 0;
    margin-right: 19px;
}

@media (max-width: 1127.98px) {
    .siteFooter__secondary__text {
        margin-right: 0;
        margin-bottom: 2px;
    }
}
