
/* --- FONTS ---------------------------------------------------------------- */

@font-face {
    font-family: 'Public Sans';
    src: url('https://recordratla-public-res.s3.eu-south-2.amazonaws.com/fonts/public-sans/PublicSans-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: normal;
}

@font-face {
    font-family: 'Public Sans';
    src: url('https://recordratla-public-res.s3.eu-south-2.amazonaws.com/fonts/public-sans/PublicSans-Italic-VariableFont_wght.woff2') format('woff2-variations');
    font-weight: 125 950;
    font-stretch: 75% 125%;
    font-style: italic;
}

/* --- COMMON --------------------------------------------------------------- */

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: 'Public Sans', sans-serif;
    font-size: 18px;
    line-height: 1.55556;
    text-rendering: optimizeLegibility;
    color: #222;
    overflow-x: hidden;
}

@media (max-width: 743.98px) {
    body {
        font-size: 16px;
        line-height: 1.5;
    }
}

a {
    color: #222;
    font-weight: 500;
}

p {
    margin: 0 0 24px;
}

/* todo: necesita una revisión */
blockquote {
    border-left: 5px solid #ebebeb;
    padding-left: 25px;
    /* font-size: 16px; */
}

/* @media (max-width: 743.98px) {
    blockquote {
        font-size: 14px;
    }
} */

iframe, img {
    max-width: 100%;
}

img {
    border-style: none;
}

ol, ul {
    box-sizing: border-box;
}

pre {
    background-color: #f7f7f7;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
    /* border-radius: 12px; */
    overflow: auto;
    font-size: 16px;
    margin: 0 0 24px;
}

@media (max-width: 743.98px) {
    pre {
        font-size: 14px;
    }
}

/* --- h1, h2, h3, h4, h5, h6 --- */

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.h1, .h2, h1, h2 {
    font-weight: 600;
    margin-bottom: 32px;
}

.h2, h2 {
    font-size: 32px;
    line-height: 1.375;
}

.h3, h3 {
    font-size: 24px;
    font-weight: 500;
    line-height: 1.25;
}

.post__entryContent > h1, .post__entryContent > h2, .post__entryContent > h3, .post__entryContent > h4, .post__entryContent > h5, .post__entryContent > h6 {
    margin-top: 48px;
    margin-bottom: 28px;
}

@media (max-width: 949.98px) {
    .post__entryContent > h1, .post__entryContent > h2, .post__entryContent > h3, .post__entryContent > h4, .post__entryContent > h5, .post__entryContent > h6 {
        margin-bottom: 24px;
    }
}

.post__entryContent > h2 {
    font-size: 32px;
    line-height: 1.125;
}

@media (max-width: 949.98px) {
    .post__entryContent > h2 {
        font-size: 26px;
        line-height: 1.15385;
    }
}

/* --- .container --- */

.container {
    box-sizing: border-box;
    max-width: 1760px;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 80px;
    padding-left: 80px;
}

@media (max-width: 1127.98px) {
    .container {
        padding-right: 40px;
        padding-left: 40px;
    }
}

@media (max-width: 743.98px) {
    .container {
        padding-right: 24px;
        padding-left: 24px;
    }
}

/* --- .row and cols --- */

.row {
    display: grid;
    column-gap: 16px;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 0;
}

@media (max-width: 949.98px) {
    .row {
        display: grid;
        grid-template-columns: repeat(6,1fr);
    }
}

.row > * {
    grid-column-start: 1;
    grid-column-end: -1;
}

.col-md-2 {
    position: relative;
}

@media (min-width: 744px) {
    .col-md-2 {
        grid-column: span 2;
    }
}

.col-mdpl-3 {
    position: relative;
}

@media (min-width: 950px) {
    .col-mdpl-3 {
        grid-column: span 3;
    }
}

.col-mdpl-4 {
    position: relative;
}

@media (min-width: 950px) {
    .col-mdpl-4 {
        grid-column: span 4;
    }
}

.col-lg-3 {
    position: relative;
}

@media (min-width: 1128px) {
    .col-lg-3 {
        /* aquí se ajustan las columnas */
        grid-column: span 3;
    }
}

.col-lg-6 {
    position: relative;
}

/* --- .post --- */

.post {
    margin-bottom: 120px;
}

/* --- .btn --- */

.btn {
    display: inline-block;
    color: #222;
    background-color: #fff;
    border: 1px solid #222;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.25;
    padding: 14px 24px;
}

.btn--gradient {
    /* background-image: -webkit-gradient(linear,left top,right top,color-stop(1.83%,#e61e4d),color-stop(50.07%,#e31c5f),color-stop(96.34%,#d70466));
    background-image: -webkit-linear-gradient(left,#e61e4d 1.83%,#e31c5f 50.07%,#d70466 96.34%);
    background-image: linear-gradient(90deg,#e61e4d 1.83%,#e31c5f 50.07%,#d70466 96.34%); */
    /* https://colordesigner.io/gradient-generator/?mode=lch#1793D1-0F2B46 */
    /* background-image: -webkit-gradient(linear,left top,right top,color-stop(1.83%,#1e6697),color-stop(50.07%,#1b527b),color-stop(96.34%,#163e60));
    background-image: -webkit-linear-gradient(left,#1e6697 1.83%,#1b527b 50.07%,#163e60 96.34%); */
    background-image: linear-gradient(90deg,#1e6697 1.83%,#1b527b 50.07%,#163e60 96.34%);
    position: relative;
    font-weight: 500;
    border: none;
    color: #fff;
    overflow: hidden;
}

/* 
.btn--gradient span {
    z-index: 1;
    position: relative;
}

.btn--gradient .thermal-bg {
    opacity: 0;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    transition: opacity 1.25s;
    background-size: 200%;
    background-image: radial-gradient(circle at center center,#ff385c 0,#e61e4d 27.5%,#e31c5f 40%,#d70466 57.5%,#bd1e59 75%,#bd1e59 100%);
} */

/* --- PAGE HEADER ---------------------------------------------------------- */

.header {
    border-bottom: 1px solid #ddd;
    height: 80px;
    padding-left: 24px;
    padding-right: 24px;
}

/* .header__logo {
    float: left;
    margin-top: 24px;
    margin-right: 6px;
}

svg#title_rat {
    height: 32px;
    width: 30px;
} */

.header__logo {
    float: left;
    margin-top: 12px;
    margin-right: 0px;
    padding: 12px 0;
}

svg#title_rat {
    height: 24px;
    vertical-align: -8.8px;
}

svg#title_rat path {
    fill: #222;
}

a.header__site {
    float: left;
    display: block;
    margin-top: 12px;
    padding: 12px 0;
    color: #222;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33333;
    letter-spacing: -.53px;
    text-decoration: none;
}

/* svg#title_rat {
    width: initial;
    height: 0.9em;
    vertical-align: -0.7px;
} */

a.header__rightElement {
    float: right;
    display: block;
    margin-top: 12px;
    padding: 12px 0;
    color: #222;
    font-size: 24px;
    font-weight: 500;
    line-height: 1.33333;
    letter-spacing: -.53px;
    text-decoration: none;
    
    margin-left: 10px;
}

/* --- PAGE FOOTER ---------------------------------------------------------- */

.siteFooter {
    padding-top: 48px;
    border-top: 1px solid #ddd;
    background-color: #f7f7f7;
}

@media (max-width: 1127.98px) {
    .siteFooter {
        padding-top: 40px;
    }
}

/* --- siteFooter__main --- */

@media (max-width: 1127.98px) {
    .siteFooter__columnWrap {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .siteFooter__columnWrap:not(:last-child) {
        margin-bottom: 24px;
        padding-bottom: 24px;
        border-bottom: 1px solid #ddd;
    }
}

.siteFooter__columnTitle {
    /* display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold; */

    margin: 0;

    font-size: 12px;
    line-height: 1.33333;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    text-transform: uppercase;
}

.siteFooter__navColumn {
    list-style: none;
    padding: 0;
    margin: 0;
}

@media (min-width: 744px) and (max-width: 1127.98px) {
    .siteFooter__navColumn {
        display: flex;
        flex-wrap: wrap;
        margin-right: -12px;
        margin-left: -12px;
    }
}

.siteFooter__navColumn .menu-item {
    font-size: 14px;
    line-height: 1.28571;
    text-rendering: optimizeLegibility;
    margin-top: 16px;
}

@media (min-width: 744px) and (max-width: 1127.98px) {
    .siteFooter__navColumn .menu-item {
        flex-basis: 33.333%;
        padding-right: 12px;
        padding-left: 12px;
    }
}

.siteFooter__navColumn .menu-item a, .siteFooter__navColumn .menu-item a:focus, .siteFooter__navColumn .menu-item a:hover {
    text-decoration: none;
    color: #222;
    font-weight: 400;
}

.siteFooter__disclaimer {
    margin-top: 48px;
    margin-bottom: 48px;
}

@media (max-width: 1127.98px) {
    .siteFooter__disclaimer {
        margin-top: 0;
        margin-bottom: 24px;
    }
}

.siteFooter__disclaimerText {
    font-size: 14px;
    line-height: 1.28571;
    margin-top: 16px;
    margin-bottom: 0;
}

/* --- siteFooter__secondary --- */

.siteFooter__secondary {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
    padding-bottom: 24px;
    border-top: 1px solid #ddd;
}

@media (max-width: 1127.98px) {
    .siteFooter__secondary {
        flex-direction: column;
        align-items: center;
    }
}

.siteFooter__secondary__text {
    font-size: 14px;
    line-height: 1.28571;
    flex-shrink: 0;
    margin-right: 19px;
}

@media (max-width: 1127.98px) {
    .siteFooter__secondary__text {
        margin-right: 0;
        margin-bottom: 2px;
    }
}

/* --- LIST --------------------------------------------------------------- */

/* .list__item {
    border-left: 3px solid #ddd;
    padding-left: 16px;
} */

.list__item {
    border-bottom: 1px solid #ddd;
}

.list__itemTitle a {
    font-size: 26px;
    font-weight: 600;
    /* line-height: 1.13043; */
    margin-bottom: 24px;
    text-decoration: none;
}

.list__itemTitle a:hover {
    text-decoration: underline;
}

@media (max-width: 949.98px) {
    .list__itemTitle a {
        font-size: 26px;
        /* line-height: 1.125; */
    }
}

@media (max-width: 743.98px) {
    .list__itemTitle a {
        font-size: 20px;
        /* line-height: 1.15385; */
        margin-bottom: 16px;
    }
}
