$_white: #fff;
$_black: #000;
$_mountain-meadow: #23bb7c;
$_aero-blue: #cbffea;

$primary-color: $_mountain-meadow;
$primary-lighter-color: $_aero-blue;

$text-color: $_black;
$text-inverted-color: $_white;

$dark-primary-color: orange;
$dark-primary-lighter-color: yellowgreen;

$dark-text-color: $_white;
$dark-text-inverted-color: $_black;
