<nav id="contacto" aria-label="Enlaces de contacto">
    <p>
        <a href="{{ .Site.Params.github }}" aria-label="Enlace a mi perfil de GitHub">github</a> &middot; 
        <a href="{{ .Site.Params.gitlab }}" aria-label="Enlace a mi perfil de GitLab">gitlab</a> &middot; 
        <!-- <a href="{{ .Site.Params.mastodon }}" aria-label="Enlace a mi perfil de Mastodon">mastodon</a> &middot;  -->
        mail (<a href="{{ .Site.Params.pgpPubKey }}" aria-label="¡Mándame un correo cifrado con pgp!">pgp</a>)
    </p>
</nav>

<nav aria-label="Enlaces útiles para moverse por la página">
    <p>
        <a href="{{ "info" | relURL }}">sobre esta web</a>&nbsp;&nbsp;&nbsp;<a href="{{ "faq" | relURL }}">faq</a>&nbsp;&nbsp;&nbsp;<a href="{{ "post" | relURL }}">archivo</a>&nbsp;&nbsp;&nbsp;<!--<a href="{{ "tags" | relURL }}">tags</a>&nbsp;&nbsp;&nbsp;--><a href="{{ "donaciones" | relURL }}">apóyame</a>
    </p>
</nav>

<div class="siteFooter__secondary">
    <p class="siteFooter__secondary__text">
        &copy; {{ dateFormat "2006" now }} Inoro <a rel="license" href="{{ "LICENSE.CC-BY-SA-4.0.txt" | relURL }}" aria-label="Texto de la licencia Creative Commons BY-SA-4.0.">CC BY-SA-4.0</a> & <a rel="license" href="{{ "LICENSE.GPL-3.0.txt" | relURL }}" aria-label="Todo el código que sustenta la web está bajo la licencia GPLv3.">GPLv3</a>
    </p>
</div>
